.ios, .md {
 
    home-page {
   
      ion-item {
        background-color: rgb(243, 135, 135);
        border-bottom: none !important;
      }
   
      ion-label {
        white-space: normal;
      }
   
      ion-item-sliding {
        margin: 10px;
      }
   
    }
   
  }